<a href="https://colab.research.google.com/github/mariodac/Santander-Coders-2024-Data-Science-/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series

In [1]:
import pandas as pd

In [2]:
lista = [12, 23, 34, 45, 56, 67]
serie_pandas = pd.Series(lista)

In [4]:
print(serie_pandas)
print('Primeiro elemento', serie_pandas[0])

0    12
1    23
2    34
3    45
4    56
5    67
dtype: int64
Primeiro elemento 12

In [6]:
notas = {'Tiago' : 8, 'Guilherme' : 9.5, 'Juca' : 6.2}
serie_notas = pd.Series(notas)
print(serie_notas)
print(serie_notas['Tiago'])

Tiago        8.0
Guilherme    9.5
Juca         6.2
dtype: float64
8.0

In [7]:
print(serie_notas.describe())

count    3.000000
mean     7.900000
std      1.652271
min      6.200000
25%      7.100000
50%      8.000000
75%      8.750000
max      9.500000
dtype: float64